body {
  background-image: url('../img-layout/bg-grey.jpg');
  color: #808080;
}

footer {
    margin-top: 30px;
}

a {
  color: #7c7c7c;
  text-decoration: none;
}

/*----------------PLACEMENT--------------*/

.container-flex {
  display: flex;
  margin-top: 50px;
}
.item_passer-commande {
  width: 100%;
  text-align: center;
}
.left {
  width: 50%;
  border-right: 1px solid #7c7c7c;
}
.right {
  width: 50%;
}
hr {
  display: none;
}

/*-----------INSCRIPTION-------*/
.item_nouveau {
  width: 100%;
}
.item_connexion {
  text-align: center;
}
.item_connecte {
  font-size: 1.2em;
}

.item_formulaire-inscription {
  justify-content: center;
}
.item_confirmation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
    font-size: 0.8em;

}
.item_inscription {
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
label {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  margin-top: 30px;
  padding: 0 10px 0 10px;
}
button {
  margin-top: 20px;
  border: 1px solid #7c7c7c;
    padding: 10px 20px;
    background: none;
    border-radius: 3px;
    cursor: pointer;
}


/*---------RESPONSIVE---------*/

@media screen and (max-width:900px ) {
  .container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;

  }

  .left {
    width: 100%;
    margin-top: 50px;
    border: none;

  }
  .right {
    width: 100%;
  }
  .item_inscription {
    width: 65%;
  }
  input {
    width: 80%;
  }
  hr {
    display: inline;
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
