div.flex-container-1 {
    display: flex;
    flex-wrap: wrap;
}

div.list {
    width: 33.33%;
    text-align: center;
    margin-top: 30px;
}
img.package {
    width: 22%;
    min-width: 90px;
    transition: transform 0.2s;
}

img.package:hover {
    transform: scale(1.1, 1.1);
}

h2 {
    text-align: center;
    color: #808080;
    font-size: 1.3em;
    font-weight: 300;
    padding: 15px 0;
}
@media screen and (max-width: 900px) {
    
    .flex-container-1 {
        flex-direction: row;
    }
    
    div.list {
        width: 50%;
    }
    
    img.package {
        width: 40%;
        min-width: 0;
    }
    
}

